In [9]:
tmp = [1, 2]

def find_midterm(sequence):
    sequence_len = len(sequence)
    if sequence_len % 2 == 0:
        return [sequence[sequence_len // 2 - 1], sequence[sequence_len // 2]]
    else:
        return [sequence[sequence_len // 2]]
    
find_midterm(tmp)

[1, 2]

In [13]:
print("Hello ", end=" ")
print("world!")

Hello world!

In [14]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [15]:
# Slow version
my_str = "numbers"
for i in range(1, 11):
    my_str += str(i)
print(my_str)

numbers12345678910

In [23]:
# Fast version
my_str = ["numbers"]
for i in range(1, 11):
    # my_str.append(str(i))
    my_str += [str(i)]
print("".join(my_str))

numbers12345678910

In [26]:
tmp = list(range(1, 6))

def multiply_seq(seq):
    if len(seq) == 1:
        return seq[0]
    
    return multiply_seq(seq[:-1]) * seq[-1]

multiply_seq(tmp)

120

In [27]:
product = 1
for i in tmp:
    product *= i
print(product)

120

In [31]:
num = 100000000000000001
def sum_digits(num):
    if num // 10 == 0:
        return num
    
    return sum_digits(num // 10) + (num % 10)

sum_digits(num)

2

In [32]:
def fib(n):
    if n == 0 or n == 1:
        return 1
    
    return fib(n - 1) + fib(n - 2)

for i in range(10):
    print(fib(i))

1
1
2
3
5
8
13
21
34
55

In [36]:
n = 10000
result = []
for i in range(0, n):
    if i == 0 or i == 1:
        result.append(1)
        continue
    result.append(result[i - 1] + result[i - 2])
    
print(result[-1])

55

In [40]:
name = input()
print(f"My name is {name}")

Avesta
My name is Avesta

In [45]:
disks = ["Large", "Medium", "Small"]

def hanoi_towers(disks, from_, to, placeholder):
    if len(disks) == 0:
        return
    if len(disks) == 1:
        print(f"Move {disks[0]} from {from_} to {to}")
        return
    
    hanoi_towers(disks[1:], from_, placeholder, to)
    hanoi_towers([disks[0]], from_, to, placeholder)
    hanoi_towers(disks[1:], placeholder, to, from_)
    
hanoi_towers(disks, "A", "C", "B")

Move Small from A to B
Move Medium from A to C
Move Small from B to C
Move Large from A to B
Move Small from C to A
Move Medium from C to B
Move Small from A to B

In [50]:
def find_max(seq):
    if len(seq) == 1:
        return seq[0]
    
    if find_max(seq[1:]) > seq[0]:
        del seq[0]
        return find_max(seq)
    return seq[0]
tmp = [1, 2, 3]
find_max(tmp)

3

In [51]:
tmp

[3]